<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    
    <%= render 'layouts/shim' %>
    <%= render 'layouts/rails_default' %>
    <style>
        
      /* universal */
      .navbar-nav {
        display: block;
      }
      
      .nav li {
        display: inline-block;
        margin: 0 0 0 40px;
        height: 100%;        
      }
      
      .nav a {
        color: grey;
      }
      
      .navbar-nav .dropdown-menu {
        position: absolute;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: none;
        left: -100px;
        padding: 8px 15px;
      }
      
      .dropdown-menu.visible {
        display: block;
      }
      
      div.col-md-6.col-md-offset-3 {
       margin: 0 20% 0 25%;
       display: block;
      }
      
      textarea {
        resize: vertical;
      }
     
      .center {
        text-align: center;
      }
      
      .center h1 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 3em;
      }
       
      /* typography */
      h1, h2, h3, h4, h5, h6 {
        line-height: 1;
      }
      
      h1 {
        font-size: 3em;
        letter-spacing: -2px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
      
      h2 {
        font-size: 1.0em;
        letter-spacing: -1px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: normal;
        color: #777;
      }
      
      /* header */
      #logo {
        float: left;
        margin-right: 10px; 
        font-size: 1.7em;
        color: #fff; 
        text-transform: uppercase; 
        letter-spacing: -1px;  
        padding-top: 9px; 
        font-weight: bold;
      }
      
      #logo:hover {
        color: #fff; 
        text-decoration: none;
      }
      
      header {
        background: #000;
      }
      
      /* footer */
      footer {
        margin-top: 45px;
        padding-top: 5px;
        border-top: 1px solid #eaeaea; color: #777;
      }
      
      footer a { 
        color: #555;
      }
      
      footer a:hover { 
        color: #222;
      }
      
      footer small { 
        float: left;
      }
      
      footer ul {
        float: right; 
        list-style: none;
      }
      
      footer ul li { 
        float: left; 
        margin-left: 15px;
      }
      
      /* sidebar */
      aside section.user_info {
        margin-top: 20px;
        }
       
      aside section {
        padding: 10px 0;
        margin-top: 20px;
      }
      
      aside section:first-child {
        border: 0;
        padding-top: 0;
      }
      
      aside section span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      
      .usertitle h1 {
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 20px;
        font-size: 1.5em;
      }
      
      .gravatar {
        float: left;
        margin-right: 10px;
      }
       
      .gravatar_edit {
        margin-top: 15px;
      }
      
      /* forms */
      input, textarea, select, .uneditable-input { 
        border: 1px solid #bbb;
        width: 100%;
        margin-bottom: 15px;
        @include box_sizing;
      }
      
      .signup-form {
       display: block;
       max-width: 600px;
       margin: auto;
       height: auto !important;
       margin-bottom: 15px;
      }
      
      #error_explanation {
        color: red;
      }
      
      #error_explanation:ul {
        color: red;
        margin: 0 0 30px 0;
      }
      
      .field_with_errors {
        @extend .has-error;
      }
      
      .field_with_errors .forms-control {
        color: $state-danger-text;
      }
      
      .alert {
        margin-top: 20px;
      }
      
      .checkbox {
        margin-top: -10px;
        margin-bottom: 10px;
      }
      
      .checkbox span {
        margin-left: 20px;
        font-weight: normal;
      }
      
      #session_remember_me {
        width: auto;
        margin-left: 0;
      }
      @media (max-width: 800px) {
        .navbar-header {
          width: 35px;
          height: 35px;
          border: 1px solid #ddd;
          position: absolute;
          top: 40px;
          right: 40px;
          margin: -22px 0 0 -22px;
          border-radius: 4px;
          cursor: pointer;
        }
      
      .first-line, .second-line, .third-line {
        width: 25px;
        height: 3px;
        background: #fff;
        position: absolute;
        border-radius: 20px;
        left: 4px;
      }
      
      .first-line {
        top: 8px;
      }
      
      .second-line {
        top: 50%;
        margin-top: -1.5px;
      }
      
      .third-line {
        bottom: 8px;
      }
      
      .nav.navbar-nav.navbar-right {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        border: 1px solid #ddd;
        background: white;
        padding: 8px 12px;
        border-radius: 5px;
        display: none;
      }
      
      .nav li {
        display: block;
      }
      
      .nav.navbar-nav.navbar-right.visible {
        display: block;
      }
      
      .navbar-nav .dropdown-menu {
        position: absolute;
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: none;
        padding: 8px 15px;
        top: 120%;
        left: -5%;
        width: 100%;
      }
      
      .dropdown-menu.visible {
        display: block;
      }
    }
    
    /* Users index */
    
      .users {
        list-style: none;
        margin: 0;
      }
      
      .users li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
      }
      
      .digg_pagination {
        background: white;
        cursor: default;
        /* self-clearing method: */ }
        .digg_pagination a, .digg_pagination span, .digg_pagination em {
          padding: 0.2em 0.5em;
          display: block;
          float: left;
          margin-right: 1px; }
        .digg_pagination .disabled {
          color: #999999;
          border: 1px solid #dddddd; }
        .digg_pagination .current {
          font-style: normal;
          font-weight: bold;
          background: #2e6ab1;
          color: white;
          border: 1px solid #2e6ab1; }
        .digg_pagination a {
          text-decoration: none;
          color: #105cb6;
          border: 1px solid #9aafe5; }
          .digg_pagination a:hover, .digg_pagination a:focus {
            color: #000033;
            border-color: #000033; }
        .digg_pagination .page_info {
          background: #2e6ab1;
          color: white;
          padding: 0.4em 0.6em;
          width: 22em;
          margin-bottom: 0.3em;
          text-align: center; }
          .digg_pagination .page_info b {
            color: #000033;
            background: #6aa6ed;
            padding: 0.1em 0.25em; }
        .digg_pagination:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        * html .digg_pagination {
          height: 1%; }
        *:first-child + html .digg_pagination {
          overflow: hidden; 
      }
      
      /* microposts */
     
     .microposts {
       list-style: none;
       padding: 0;
     }
     
     .microposts li {
       padding: 10px 0;
       border-top: 1px solid #e8e8e8;
     }
     
     .microposts .user {
       margin-top: 5em;
       padding-top: 0;
     }
     
     .microposts .content {
       display: block;
       margin-left: 60px;
     }
     
     .microposts .content img {
       display: block;
       padding: 5px 0;
     }
     
     .microposts .timestamp {
       color: $gray-light;
       display: block;
       margin-left: 60px;
     }
     
     .microposts .gravatar {
       float: left;
       margin-right: 10px;
       margin-top: 5px;
     }
     
    aside textarea {
       height: 100px;
       margin-bottom: 5px;
    }
    
    span.image {
      margin-top: 10px;
    }
    
    span.image input {
      border: 0;
    }
      
      </style>
    </head>
      
    

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
    <script>
      var hamburger = document.querySelector('.navbar-header');
      var menu = document.querySelector('ul.nav.navbar-nav.navbar-right');
      
      hamburger.addEventListener('click', function() {
        menu.classList.toggle('visible');
        })
        
      var accountmenu = document.querySelector('li.dropdown');
      var dropdownmenu = document.querySelector('ul.dropdown-menu');
      
      accountmenu.addEventListener('click', function() {
        dropdownmenu.classList.toggle('visible');
        })
    </script>
  </body>
</html>
